/* ---------------------------- CSS RESET 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {background: #f2f2f2 url(../images/bg/body.png) repeat-x top left; color: #666;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

h1 {font-size: 32px; color: #1C5A9F; margin-bottom: 20px;}


h3, h4 {margin-bottom: 20px;  }

h3 {font-size: 20px; color: #1C5A9F;}


h4 {font-size: 15px; color: #1C5A9F; }


p {font-size: 12px; line-height: 17px; margin-bottom: 20px;}

/* --------------------------------------- common bits
*/

.bigger {font-size: 14px; }

.clear {clear: both; } .center {margin: 0 auto; }
.float_left {float: left; } .float_right {float: right; }
.holder {width: 960px; }

.fourth {width: 225px; }
.third {width: 300px; }
.half {width: 460px; }
.two_third { width: 630px; }
.layout_padding {padding: 20px; }
.equal_margin_right {margin-right: 30px; }
.equal_margins {margin: 0 30px; }

.cut {height: 2px; background: transparent url(../images/bg/cut.png) no-repeat top center; width: 100%;}
.border-top {border-top: 1px solid #2E2D38; }


strong {font-weight: bold; }


.plan_name {font-size: 18px!important; color: #fff; background: #1D1C24 url(../images/bg/big_foot.png) repeat-x bottom left; padding: 10px!important; }
.price {float: right; font-size: 22px!important; font-weight: bold;}	

.button {display: block; width: 100px; height: 38px; text-indent: -9999px; background-repeat:no-repeat; background-position: top left; cursor: pointer; }
	.button:hover {background-position: left -38px; }
	.order {background-image: url(../images/buttons/order.png); }
	.order_dark {background-image: url(../images/buttons/order_black.png); }
	.more {background-image: url(../images/buttons/more.png); }
	
/* ---------------------------------------- icons	
*/	

.icon {padding-left: 82px; }
	.support    {background: transparent url(../images/icons/support.png) no-repeat left top; }
	.uptime     {background: transparent url(../images/icons/uptime.png) no-repeat left top; }
	.moneyback  {background: transparent url(../images/icons/moneyback.png) no-repeat left top; }
	.renewal    {background: transparent url(../images/icons/renewal.png) no-repeat left top; }
	.space      {background: transparent url(../images/icons/space.png) no-repeat left top; }
	.secure     {background: transparent url(../images/icons/secure.png) no-repeat left top; }


/*---------------------------------------- layout 
*/

#header { height: 130px; }

	#header h1 {background: transparent url(../images/logo.png) no-repeat left top; width: 273px; height: 53px; overflow: hidden; margin-top: 40px; }

		#header h1 a {text-indent: -9999px; display: block; cursor: pointer; width: 273px; height: 53px; }
		
		#options {float: right; padding-top: 36px;}
		
		#options li {text-align: right;  margin-bottom: 10px; font-size: 12px; font-weight: normal;}
		#options a {text-decoration: none; color: #888; font-size: 11px; margin-bottom: 20px; }
			#options a:hover {color: #bbb; }
		#options li strong {font-size: 23px; color: #fff;  font-weight: bold!important; }
		
#fancy_slider {
		height: 342px; padding: 20px; border: 1px solid #fff; 
		background: #fff url(../images/bg/fancy_slider.png) repeat-x top left; 
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .1);
		box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .1);
		
		}
		
		.slide {height: 350px; width: 960px; }
		
		#fancy_slider .buttons_holder {position: absolute; bottom: 60px; left: 20px; }
			#fancy_slider .buttons_holder a {float: left; margin-right: 20px; }
		
		.bannerOne {background: transparent url(../images/slider/big_banner_1.jpg) no-repeat top left; }
		.bannerTwo {background: transparent url(../images/slider/big_banner_2.jpg) no-repeat top left; }
		.bannerThree {background: transparent url(../images/slider/big_banner_3.jpg) no-repeat top left; }
		
		#nav {margin: 0 auto; width: 110px;}
		
			#nav a {text-indent: -9999px; display: block; margin: 0 2px; width: 16px; height: 16px; float: left; background: transparent url(../images/bg/dot.png) no-repeat center  top;}
			
				#nav a:hover, #nav a.activeSlide { background: transparent url(../images/bg/dot.png) no-repeat center  -16px!important; }
		
		
#main_content {padding: 20px; }		


#portfolio { float: left; margin-right: 10px;}
#portfolio .small_box  {background: #fff; padding: 10px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		width: 250px;
		 margin-right: 10px;
}

#portfolioNav {width: 10px; float: left;}


	#portfolioNav a {text-indent: -9999px; display: block; margin: 0 0 5px; width: 16px; height: 16px; float: left; background: transparent url(../images/bg/dot.png) no-repeat center  top;}
			
				#portfolioNav a:hover, #portfolioNav a.activeSlide { background: transparent url(../images/bg/dot.png) no-repeat center  -16px!important; }

#services {padding: 20px 0 0 0; }

	#services .service {margin-bottom: 20px; }


#plans { padding: 20px; height: 370px; width:1000px; margin-bottom: 20px;}
	#products {width: 100%; }
		#products li {float: left; padding: 10px 40px 0 40px; text-decoration: none; font-size: 12px; color: #888;  }
			#products li:hover {cursor: pointer; }
		
				.first {margin-right: 10px; }
				.middle {margin: 0 10px; }
				.last {margin-left: 10px; }
		#products h4 { margin-bottom: 10px!important; }
	#plans_tables div {clear: both; background: #fff; padding: 20px; height: 300px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-radius: 0px 0px 4px 4px;
		border-radius: 0px 0px 4px 4px;
}

	.columns li { font-size: 13px; }
		.columns li ul {cursor: pointer; }
			.columns li ul li {padding: 10px; border-bottom: 1px solid #eee;}
				.no_border {border: none!important; }
		
			
		.bestseller	{position: relative; }
			.bestseller img {bottom: -4px; right: -4px; position: absolute; }
			
		
			
#big_foot {background: #1D1C24 url(../images/bg/big_foot.png) repeat-x top left;	padding: 20px 0 0; color: #ccc; border-bottom: 1px solid #000;  }

	#big_foot h3 {color: #fff; }		
	#big_foot .third  {margin-bottom: 20px;}	
	
	#contact p {margin-bottom: 10px!important; }
	
	#social_icons li {line-height: 16px; padding-left: 0px; }
	#social_icons li a {font-size: 11px; color: #aaa; text-decoration: none; margin-left: 20px; text-transform: uppercase; }
		#social_icons li a:hover {color: #eee; }
	
	
	
	.nice_input_field, textarea { border: 1px solid #000; background: #141319; color: #777; padding: 4px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  margin-bottom: 8px;
									-webkit-box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, .2);
									-moz-box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, .2);
									 box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, .2);
									-webkit-border-radius: 4px;
									-moz-border-radius: 4px;
									 border-radius: 4px;
									 font-size: 12px;
									 margin-bottom:20px;
	}
	
	.nice_input_field {width: 137px;}
	textarea {width: 288px; height: 75px;	}
	
	.note {float: left; }
	.message_error {color: #F06; }
	

	#send {background: transparent url(../images/buttons/send.png) no-repeat center top; width: 100px; height: 38px; border: none; text-indent: -9999px; float: right;}
		#send:hover {background-position: center -38px; cursor: pointer;}

	.testimonial p {font-style: italic; line-height: 25px; 	font-family: Georgia, "Times New Roman", Times, serif;}
		.testimonial .happy_customer {font-weight: bold; font-size: 13px!important; }
		#testimonialsNav {margin: 0 auto; width: 60px;}
			#testimonialsNav a {text-indent: -9999px; display: block; margin: 0 2px; width: 16px; height: 16px; float: left; background: transparent url(../images/bg/dot_footer.png) no-repeat center  top;}
				#testimonialsNav a:hover, #testimonialsNav a.activeSlide { background: transparent url(../images/bg/dot_footer.png) no-repeat center  -16px!important; }

#footer {  background: #141319;  padding: 20px ; border-top: 1px solid #26252F;}
	#footer p {color: #444; font-size: 11px; margin-bottom: 0!important; } 

/* ----------------------------- smooth tab	
*/
.smoothTabsLiCurrent {
						background: #fff;
						-moz-border-radius-topleft: 6px;
						-moz-border-radius-topright: 6px;
						-moz-border-radius-bottomright: 0px;
						-moz-border-radius-bottomleft: 0px;
						-webkit-border-radius: 6px 6px 0px 0px;
						border-radius: 6px 6px 0px 0px;
}

.smoothTabsDivHidden { display: none; } 

/* ----------------------------- fancy box 
*/


#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../images/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../images/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
	font-size: 13px; font-weight: bold; 
}
.fancybox-title-over a {text-decoration: none; color: #8EC6FF;}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../images/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('../images/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }